@model QAC
<br />
<hr class="thickhr" />
@{ if (Model.qModelList.Count != 0)
    {
    <div class="questions">
        @{
            foreach (QuestionModel item in Model.qModelList)
            {
                <p>
                    Question #@item.Qid - @item.QsubmissionTime - <b>answers: </b> @Model.aModelList.Count - <b>votes:</b> @item.Qvote - <b>views:</b> @item.Qview
                </P>
                <form method="post" asp-controller="Questions" asp-action="VoteForQuestion">
                    <input type="hidden" name="qId" value="@Model.qModelList[0].Qid" />
                    <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                    <input type="submit" value="Vote" style="float:right;" />
                </form>
                <br />
                <p><b>@item.Qtitle</b></p>
                <p>@item.Qtext</p>
            }
            if (Model.qModelList[0].Qimage != null && Model.qModelList[0].Qimage != "")
            {
                <img src="@Model.qModelList[0].Qimage"></img>
            }
            else
            {
                <br />
                <p>There is no linked image</p>
            }
            if (ViewData["currentUser"].ToString() == Model.qModelList[0].QUserId || ViewData["currentUser"].ToString() == "Admin")
            {
                <form method="post" asp-controller="Questions" asp-action="AddImageToQuestion">
                    <input type="text" name="image" size="80" value="@Model.qModelList[0].Qimage" />
                    <input type="hidden" name="qId" value="@Model.qModelList[0].Qid" />
                    <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                    <input type="submit" value="Link image" />
                </form>
            }
            <br />
            <h6><u>Comments:</u></h6>
            foreach (CommentModel comment in Model.cModelList)
            {
                if (comment.Qid == Model.qModelList[0].Qid)
                {
                    <ul>
                        <li>Comment #@comment.Cid - @comment.CsubmissionTime - edited @comment.CeditNr times</li>
                        <li><b></b>@comment.Ctext</li>
                        <br />
                    </ul>

                }
            }
            <form method="post" asp-controller="Questions" asp-action="CommentToQuestion">
                <input type="hidden" name="questionId" value="@Model.qModelList[0].Qid" />
                <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                <label for="answerbox">Your comment: </label>
                <br />
                <textarea id="answerbox" name="comment" rows="4" cols="82" required></textarea>
                <br />
                <input type="submit" value="Comment" />
            </form>
            
            }
    <br />
    </div>
    <div class="answers">
        @if (Model.aModelList.Count != 0)
        {
            <h3>Answers</h3>
            <hr class="thickhr" />
                foreach (AnswerModel answer in Model.aModelList)
                {
                    <p>
                        Answer #@answer.Aid - @answer.AsubmissionTime - votes: @answer.Avote
                    </p>
                    <form method="post" asp-controller="Answers" asp-action="AnswerVote">
                        <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                        <input type="hidden" name="aId" value="@answer.Aid" />
                        <input type="submit" value="Vote" style="float:right;" />
                    </form>
                <p><b>Answer: </b>@answer.Atext</p>
                <br />
                if (answer.Aimage != null && answer.Aimage != "")
                {
                    <img src="@answer.Aimage"></img>
                }
                else
                {
                    <br />
                    <p>There is no linked image</p>
                }
                if (ViewData["currentUser"].ToString() == Model.aModelList[0].AUserId || ViewData["currentUser"].ToString() == "Admin")
                {
                    <form method="post" asp-controller="Answers" asp-action="AddImageToAnswer">
                        <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                        <input type="text" name="image" size="80" value="@answer.Aimage" />
                        <input type="hidden" name="aId" value="@answer.Aid" />
                        <input type="submit" value="Link image" />
                    </form>
                }
                <br />
                <h6><u>Comments:</u></h6>
                foreach (CommentModel comment in Model.cModelList)
                {
                    if (comment.Aid == answer.Aid)
                    {
                        <ul>
                            <li>Comment #@comment.Cid - @comment.CsubmissionTime - edited @comment.CeditNr times</li>
                            <li><b></b>@comment.Ctext</li>
                            <br />
                        </ul>
                    }
                }
                <form method="post" asp-controller="Answers" asp-action="CommentToAnswer">
                    <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
                    <input type="hidden" name="answerId" value="@answer.Aid" />
                    <label for="answerbox">Your comment: </label>
                    <br />
                    <textarea id="answerbox" name="comment" rows="4" cols="82" required></textarea>
                    <br />
                    <input type="submit" value="Comment" />
                </form>
                
                <br />
            }
        }
        else
        {
            <br />
            <h4>There are no answers.</h4>
            <br />
        }

    </div>
    <div>
        <h3>Add a new answer</h3>
        <hr class="thickhr" />
        <br />
        <form method="post" asp-controller="Answers" asp-action="NewAnswer">
            <input type="hidden" name="qID" value="@Model.qModelList[0].Qid" />
            <input type="hidden" name="currentUser" value="@ViewData["currentUser"]" />
            <label for="answerbox">Your answer: </label>
            <br />
            <textarea id="answerbox" name="answer" rows="6" cols="82" required></textarea>
            <br />
            <label for="img">Your linked image:</label>
            <br />
            <input type="text" id="img " name="image" size="80" />
            <br />
            <br />
            <input type="submit" value="Send answer" />
        </form>
    </div>
    }
    else
    {
        <p>There are no questions!</p>
    }
}



