<h1>Stop making lists!</h1>
<hr />
@model QAC
<h2>Questions</h2>

<br />
@{ if (Model.qModelList.Count != 0)
    {
        <form method="post" asp-controller="Questions" asp-action="VoteForQuestion">
            <input type="hidden" name="qId" value="@Model.qModelList[0].Qid" />
            <input type="submit" value="Vote for this question" />
        </form>

        <br />
        <table class="tablazat">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Question</th>
                <th>Votes</th>
                <th>Views</th>
                <th>Created</th>
            </tr>
            @{
                foreach (QuestionModel item in Model.qModelList)
                {
                    <tr>
                        <td>@item.Qid</td>
                        <td>@item.Qtitle</td>
                        <td>@item.Qtext</td>
                        <td>@item.Qvote</td>
                        <td>@item.Qview</td>
                        <td>@item.QsubmissionTime</td>
                    </tr>
                }
            }
        </table>
        <br />
        <form method="post" asp-controller="Questions" asp-action="AddImageToQuestion">
            <input type="text" name="image" size="80" value="@Model.qModelList[0].Qimage" />
            <input type="hidden" name="qId" value="@Model.qModelList[0].Qid" />
            <input type="submit" value="Link or edit an image" />
        </form>
        if (Model.qModelList[0].Qimage != null && Model.qModelList[0].Qimage != "")
        {
            <br />
            <image src="@Model.qModelList[0].Qimage" width="600" height="400"></image>
        }
        <hr />
        foreach (AnswerModel answer in Model.aModelList)
        {
            <p>Answer ID: @answer.Aid</p>
            <p>Answer: @answer.Atext</p>
            <p>Votes: @answer.Avote</p>
            <p>Created: @answer.AsubmissionTime</p>
            <br />
            if (answer.Aimage != null && answer.Aimage != "")
            {
                <br />
                <image src="@answer.Aimage" width="600" height="400"></image>
            }
            <hr />
        }
   }
   else
   {
<p>There are no questions!</p>
   }
}



